body {
  font-family: Helvetica, sans-serif;
}

/* CODE */
@font-face {
  font-family: 'source';
  src: url('SourceCodePro-Regular.otf');
}

code {
  font-family: source;
  color: inherit;
}

pre {
  border: none;
  border-left: 3px solid #E3E3E3;
  border-radius: 0;
  font-size: 0.8em;
}

/* MAIN CONTENT */

#slide {
  font-size: 140%;
  left: 350px;
  max-width: 940px;
  padding: 20px;
  position: absolute;
}

#slide > .title,
#slide > h2 {
  margin: 20px 0;
  text-align: center;
}

#toc {
  font-size: 120%;
  position: fixed;
  top: 0;
  height: 100%;
  left: 0;
  padding-left: 10px;
  padding-top: 10px;
  overflow-y: auto;
}

#toc li {
  list-style: none;
}

#toc .chapter {
  margin-top: 15px;
}

#toc .chapter > .title {
  font-weight: bold;
}

#toc .slide {
  padding-bottom: 5px;
}

#toc .slides {
  padding-left: 15px;
}

#toc .slide.active {
  font-weight: bold;
}

#toc. .slide > a:active,
#toc. .slide > a:focus {
  text-decoration: none;
}

/* JavaScriptExercise */

.CodeMirror {
  background-color: #f5f5f5;
  border: 1px solid #EEE;
}

.CodeMirror-gutters {
  background-color: transparent;
  border: 0;
}

/* Spinner */
.loaderContainer {
  width: 300px;
  height: 300px;
}

.spinner {
  width: 30px;
  height: 30px;
  background-color: #333;

  margin: 100px auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
