@font-face {
  font-family: 'source';
  src: url('SourceCodePro-Regular.otf');
}

body {
  font-family: Helvetica, sans-serif;
}

code {
  font-family: source;
}

/* code */

pre {
  border: none;
  border-left: 3px solid #E3E3E3;
  border-radius: 0;
  font-size: 0.8em;
}

/* Progress */

#progress {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#progress::before {
  position: absolute;
  top: 16px;
  left: 0;
  right: 0;
  content: " ";
  height: 0;
  border: 1px solid #EFEFEF;
  z-index: 0;
}

#progress > .chapter {
  padding: 0 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
  z-index: 10;
}

#progress > .chapter > .title {
  text-align: center;
}

#progress > .chapter > .indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#progress > .chapter > .indicators > li {
  list-style: none;
  margin: 0;
}

#progress .indicator {
  display: block;
  background-color: #DDD;
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

#progress .indicator.javascriptExercise {
  background-color: #ffba3d
}

#progress .indicator.javascriptExercise.error {
  background-color: red;
}

#progress .indicator.javascriptExercise.completed {
  background-color: green;
}

#progress .indicator.active {
  background-color: #3c5bff;
}


#progress .indicator > span {
  display: none;
}

#progress > .chapter > a {
  display: block;
}

/* MAIN CONTENT */

#slide {
  box-sizing: border-box;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 20px;
  top: 0;
  font-size: 130%;
}

#slide h2 {
  text-align: center;
}

.CodeMirror {
  background-color: #f5f5f5;
  border: 1px solid #EEE;
}

.CodeMirror-gutters {
  background-color: transparent;
  border: 0;
}

/* Spinner */
.loaderContainer {
  width: 300px;
  height: 300px;
}

.spinner {
  width: 30px;
  height: 30px;
  background-color: #333;

  margin: 100px auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
